{% extends 'base.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-1">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
    <p>Your forecast is {{ weather['data'][0]['weather']['description'] }} in {{ user.preference.location }}.
        Based on your preferred air temp of {{ user.preference.air_temp }}&deg;{{ user.preference.temp_unit }} and the 
        current temperature of {{ weather['data'][0]['temp'] }}&deg;{{ user.preference.temp_unit }}, you should stay out of the water.
    </p>
    <h2>Your Preferences:</h2>
    {% if user.preference %}
        <p>Temperature Unit: {{ user.preference.temp_unit }}</p>
        <p>Air Temperature: {{ user.preference.air_temp }}&deg;{{ user.preference.temp_unit }}</p>
        <p>Tide Preference: {{ user.preference.tide_preference }}</p>
        <p>Time of Day: {{ user.preference.time_of_day }}</p>
    {% else %}
        <p>No preferences found.</p>
    {% endif %}
</div>

{% if weather %}
    <div>
        <p>Weather Description: {{ weather['data'][0]['weather']['description'] }}</p>
        <p>Temperature: {{ weather['data'][0]['temp'] }}&deg;{{ user.preference.temp_unit }}</p>
        {% set weather_icon = weather['data'][0]['weather']['icon'] %}
    </div>
    <div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
        <img src="/static/icons/{{ weather_icon }}.png" class="card-img-top" alt="{{ weather['data'][0]['weather']['description'] }} icon">
        <div class="card-body">
          <h5 class="card-title">Current Weather in {{ user.preference.location }}</h5>
          <p class="card-text">Your forecast is {{ weather['data'][0]['weather']['description'] }} in {{ user.preference.location }}.
            Based on your preferred air temp of {{ user.preference.air_temp }}&deg;{{ user.preference.temp_unit }} and the 
            current temperature of {{ weather['data'][0]['temp'] }}&deg;{{ user.preference.temp_unit }}, you should stay out of the water.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
      </div>
{% else %}
    <p>Weather information not available.</p>
{% endif %}

{% if tidal_info %}
    <h2>Tidal Information:</h2>
    <ul>
        {% for event in tidal_info.data %}
            <li>{{ event.time }} - {{ event.height }} meters</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Tidal information not available.</p>
{% endif %}
{% endblock %}
