{% extends 'base.html' %}

{% block title %} {{ forecast['valid_date'] }} {% endblock %}

{% block content %}

<div>
    {% set weather_icon = forecast['weather']['icon'] %}
</div>
<div class="d-flex justify-content-center align-items-center">
<div class="card text-bg-secondary border-dark forecast-card" style="width: 18rem;" data-date="{{ forecast['valid_date'] }}">
    <img src="/static/icons/{{ weather_icon }}.png" class="card-img-top" alt="{{ forecast['weather']['description'] }} icon">
    <div class="card-body">
      <h5 class="card-title">Current Weather in {{ user.preference.location }}</h5>
      <p class="card-text">Your forecast is {{ forecast['weather']['description'] }} in {{ user.preference.location }}.</p>
        {% if correct_temp %}
        <p>Based on your preferred air temp of {{ user.preference.air_temp }}&deg;{{ user.preference.temp_unit }} and the 
        predicted temperature of {{ forecast['temp'] }}&deg;{{ user.preference.temp_unit }}, you should stay out of the water.</p>
        {% else %}
        <p>Based on your preferred air temp of {{ user.preference.air_temp }}&deg;{{ user.preference.temp_unit }} and the 
        predicted temperature of {{ forecast['temp'] }}&deg;{{ user.preference.temp_unit }}, go ahead and dive.
    </p>
    {% endif %}
    </div>
</div>
  </div>
  <div class="ideal-dive-time">
    <p>Ideal Dive Time: {{ ideal_dive_time }}</p>
{% if matched_tide_time %}
<p>Matched Tide Time: {{ matched_tide_time }}</p>
{% else %}
<p>No matched tide time found for your preference.</p>
{% endif %}
</div>
{% endblock %}
